.layout-admin-aside
  #hs-application-sidebar.aside.hs-overlay(role='dialog' tabindex='-1' aria-label='Sidebar' class='' )
      .aside-wrapper
        .aside-brand
          a.brand-link(href='#' aria-label='Preline')
            .icon.block.md-hidden
              object(type='image/svg+xml' data='/public/uploads/svg/sua-nota-enem-logo.svg')
            .icon.hidden.md-block
              object(type='image/svg+xml' data='/public/uploads/svg/mobile-sua-nota-enem-logo.svg')
          // End Logo
        hr.mb-4
        // Content
        .aside-container(class='')
          .aside-content
             include ./_menu.pug
          .aside-bottom
