html
    head
        title SuaNotaEnem
    body
        .layout-admin
            include ./admin/_aside.pug
            .layout-admin-container
                include ./admin/_navbar.pug
                main
                    block content
                include ./admin/_footer.pug
